.global-box {
  width: 90%;
  margin: auto;
  /* background-color: aqua; */
}

.main-box-order-screen {
  display: grid;
  grid-template-columns: 70% 30%;
}

.shipping-info {
  width: 90%;
  border: 0.5px solid rgba(0, 0, 0, 0.331);
  border-radius: 5px;
}
.shipping-info h3 {
  margin: 2.2rem;
}
.shipping-info li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.shipping-info button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffd369;
  border: 1px solid rgba(0, 0, 0, 0.331);
  margin-bottom: 2rem;
}

.payment-info {
  border: 0.5px solid rgba(0, 0, 0, 0.331);
  border-radius: 5px;
}
.payment-info h3 {
  margin: 2.2rem;
}
.payment-info li {
  list-style: none;
  margin-bottom: 2.5rem;
}
.payment-info button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffd369;
  border: 1px solid rgba(0, 0, 0, 0.331);
  margin-left: 2.5rem;
}

.items {
  border: 1px solid rgba(0, 0, 0, 0.331);
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.items h3 {
  margin: 2.2rem;
}
.items ul {
  display: grid;
  grid-template-columns: 40% 20% 10% 10% 10%;
  align-items: center;
}
.items img {
  width: 200px;
}
.items li {
  list-style: none;
  text-align: start;
}
.items button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.331);
  background-color: #ffd369;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}

.order-summary {
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.331);
  margin-top: 2rem;
  height: fit-content;
}
.order-summary h3 {
  margin: 2.2rem;
}
.order-summary li {
  list-style: none;
  padding-bottom: 0.5rem;
}
.order-summary button {
  margin-bottom: 2rem;
  margin-left: 5%;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.331);
  background-color: #ffd369;
  width: 90%;
  height: 35px;
}
