.small-container-shipping {
  width: 600px;
  margin: auto;
  /* background-color: aqua; */
  padding-bottom: 2rem;
}

.shipping-title {
  text-align: center;
  padding-top: 3rem;
}

.form-shipping {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}

.small-container-shipping input {
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  width: 500px;
  height: 2rem;
}
