body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 1rem;
  /* background-color: gray; */
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main {
  padding: 2rem;
}

.sofas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sofa {
  border: solid 1px #404040;
  margin: 1rem;
}

.sofa img {
  width: 250px;
  max-width: 400px;
}

.sofa-info {
  padding: 1rem;
}
