.nav-container {
  background: rgba(0, 0, 0, 0.466);
  width: 100%;
  height: 3.5rem;
  display: flex;
  /* position: fixed; */
  top: 0;
}

.nav-logo {
  display: inline;
}

.logo {
  color: aliceblue;
  text-decoration: none;
  padding-left: 3rem;
  font-size: 1.9rem;
}

.nav-list {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}

.nav-item {
  list-style: none;
}
.products {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}

.products:hover {
  color: black;
}

.dropdown-products {
  cursor: pointer;
  padding: 1rem;
}

.dropdown-products li {
  list-style: none;
  padding: 0.3rem;
  background-color: black;
  /* opacity: 0; */
}
.dropdown-products li:hover {
  transition: 2s;
}

.nav-list a {
  text-decoration: none;
  color: aliceblue;
}

.nav-link {
  font-size: 2rem;
}

.cart-quantity {
  background-color: red;
  font-size: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 50%;
}
